.user_info {
  display: flex;
  padding: 20rpx;
  .user_icon {
    padding: 0 20rpx;
    image {
      width: 88rpx;
      border-radius: 50%;
	  height: 88rpx;
    }
  }
  .user_desc {
    .user_name {
      color: #000;
      font-weight: 600;
    }

    .user_time {
      color: #ccc;
      font-size: 24rpx;
      padding: 10px 0rpx;
    }
  }
}
.high_img {
	border-bottom: 1rpx solid #eee;
	image{
		height: 600rpx;
		width: 100%;
	}
}
.user_rank {
  display: flex;
  height: 80rpx;
  border-bottom: 5rpx solid #eee;
  .rank {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    .iconfont {
    }
  }

  .user_collect {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    .iconfont {
    }
  }
}
.album_wrap {
  padding: 20rpx;
  .album_title {
    padding: 10rpx 0;
  }

  .album_list {
    .album_item {
      display: flex;
      padding: 10rpx 0;
      border-bottom: 10rpx solid #eee;
      .album_cover {
        flex: 1;
        image {
          width: 180rpx;
          height: 180rpx;
        }
      }

      .album_info {
        flex: 3;
        padding-left: 20rpx;
        position: relative;
        .album_info_text {
          width: 100rpx;
          height: 50rpx;
          background-color: $color;
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .album_name {
          padding: 10rpx 0;
          color: #888;
        }
        .iconfont {
          font-size: 40rpx;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 10%;
          color: #888;
        }
      }
    }
  }
}
.comment {
  .comment_title {
    padding: 15rpx;
    .iconfont {
      color: red;
      font-size: 40rpx;
    }

    .comment_text {
      font-weight: 600;
      font-size: 28rpx;
      color: #666;
      margin-left: 10rpx;
    }
  }

  .comment_list {
  }
}
.comment_list {
  .comment_item {
    border-bottom: 15rpx solid #eee;
    .comment_user {
      display: flex;
      padding: 20rpx 0;
      .user_icon {
        width: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        image {
          width: 90%;
        }
      }

      .user_name {
        flex: 1;
        .user_nickname {
          color: #777;
        }

        .user_time {
          color: #ccc;
          font-size: 24rpx;
          padding: 5rpx;
        }
      }

      .user_badge {
        image {
          display: inline-block;
          margin-right: 10rpx;
          width: 40rpx;
          height: 40rpx;
        }
      }
    }

    .comment_desc {
      display: flex;
      padding-bottom: 30rpx;
      .comment_content {
        flex: 1;
        padding-left: 15%;
        color: #000;
		padding-right: 80rpx;
      }

      .comment_like {
        position: relative;
        .iconfont {
          position: absolute;
          right: 20rpx;
          font-size: 38rpx;
        }
      }
    }
  }
}
.new {
	padding-bottom: 150rpx;
  .iconpinglun {
    color: aqua !important;
  }
}

.download {
	position: fixed;
	bottom: 10rpx;
	width: 100%;
	left: 0;
	height: 120rpx;
	display: flex;
	justify-content: center;
	align-items: center;
	.download-btn {
		width: 90%;
		height: 75%;
		background-color: $color;
		color: #fff;
		font-size: 40rpx;
		font-weight: 600;
		display: flex;
		justify-content: center;
		align-items: center;
    }
}